@charset "UTF-8";

@media screen and (min-width: 765px){
    #burguer{
        display: none;
    }
    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}