@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --color0: #0A0E12;
    --color1: #161B22;
    --color2: #1bd84a;
    --color3: #FFB100;
    --color4: #E6EDF3;
}

@font-face {
    font-family: 'android' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}
h1, h2 {
    color: var(--color2); 
    text-shadow: 0 0 8px rgba(0, 255, 65, 0.3); 
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body{
    background: var(--color0);
    color: white;
}
header{
    background-color: var(--color1);
    text-align: center;
}
header > h1{
    font-family: 'android';
    font-variant: small-caps;   
    padding: 5px; 
    color: var(--color2);
}
header > p{
    padding: 5px;
    text-align: center;
}

#burguer{
    display: block;
    background-color: var(--color0);
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: rgba(240, 248, 255, 0.637);
    color: var(--color1);
}

menu{
    display: none;
}

menu > ul > li > a{
    display: block;
    border-top: 2px solid rgba(185, 177, 177, 0.726);
    padding: 10px;
}

menu > ul > li > a:hover{
    background-color: #e2e2e254;
}
a{
    
    
    color: var(--color2);
    text-decoration: none;
}

a:hover{
    color: #00ff41;
    text-decoration: underline;
    background-color: #e2e2e27c;
    border-radius: 8px;
}
main{
    background-color: var(--color1);
    color: var(--color4);
    border-radius: 10px;
    border-left: 4px solid #00ff41;
    padding: 30px;
    margin: auto;
    margin: 8px 50px 1px 50px;
}

strong{
    color: var(--color3) ;
}
p{
    padding: 10px;
    text-align: justify;

}
ol{
    list-style-type: none;
}

aside{
    margin: 10px;
    background: #f2f2f2be;
    color: var(--color1);
    padding: 10px;
}
aside > h3{
    text-align: center;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
}

aside ul{
    list-style-type: none;

}

aside li{
    padding: 10px 0px;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.411);
}
