@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@font-face{
    font-family: 'cordel';
    src: url(fonte/xilosa_.ttf); format("ttf");
}
:root {
    --font1: verdana, geneva, tahoma, sans-serif;
    --font2: 'Passion one', cursive;
    --font3: 'cordel', cursive; 
}


* {
    margin: 0px;
    padding: 0px;
    
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}


header > p {
    padding-bottom: 50px;
}

a{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 5px;
    font-weight: bolder;
}


a:hover{
    text-decoration: underline;
    background-color: rgba(236, 226, 213, 0.253);
    border-radius: 8px;
    content: '\1F335';
}
 a::after{
    content: '\1F335';
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}


section.img{
    background-color: rgb(57, 75, 230);
    color: white;
}

section.img > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.884);
    width: 400px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    font-size: small;
    font-weight: normal;
    padding: 10px;
}

#footer::after{
    content: '\3164';
}