@charset "UTF-8";

:root{
    --color1: #FFFFFF;
    --color2: #F7EDE2;
    --color3: #D9CDBF;
    --color4: #8C7549;
    --color5: #E4E9F2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to top,#bfb4aafd,#FFFFFF);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
}

h1.title{
    text-align: center;
    text-shadow: 1px 1px 1px #7970676b;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 2.5em;
    color: #374b70;
}
p.title{
    text-align: center;
    font-size: 1.2em;
    color: #000000a1;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.418);
}
menu{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
}
menu > a{
    margin: 0px 5px;
    border-radius: 8px;
    background-color: #374b70;
    padding: 5px;
    color: white;
    text-decoration: none;
    flex: none;
    text-align: center;
}

a:hover{
    background-color: #f2f2f270;
    color: #374b70;
    transition: background-color 0.5s ease;

}

main{
    margin: 50px;
    margin-top: 1px;
    background-color: var(--color2);
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    text-align: justify;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.493);
}

h2{
    font-size: 1.5em;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.267);
    margin: 5px;
    background-color: #f2f2f260;
    
}

h2:hover{
    transform: translate(-3px,-3px);
    transition: transform 0.4s ease ;

}

p{
    text-shadow: 1px 1px 1px rgba(71, 69, 57, 0.212);
    text-indent: 10px;
}

div.sono{
    text-align: center;
}

img.sono{
    background: #BFB4AA center right no-repeat fixed;
    background-size: cover;
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

section{
    background-color: var(--color5);
    padding: 15px;
    border-radius: 10px;
}

ul{
    margin-left: 30px;
    list-style: square;
    margin-bottom:5px;
    padding: 8px;
}
li{
    padding: 5px;
}